/* General body styling */
body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: black;
}

/* Login and Signup Containers */
.login-container, .signup-container {
    width: 300px;
    padding: 20px;
    background-color: #fff; /* White background for the container */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    text-align: center;
}

/* Input Fields Styling */
.login-container input[type="text"],
.login-container input[type="email"],
.login-container input[type="password"],
.signup-container input[type="text"],
.signup-container input[type="email"],
.signup-container input[type="password"] {
    width: calc(100% - 20px);
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Submit Button Styling */
.login-container input[type="submit"],
.signup-container input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.login-container input[type="submit"]:hover,
.signup-container input[type="submit"]:hover {
    background-color: #45a049;
}

/* Link styling for Sign Up and Login pages */
.login-container p, .signup-container p {
    margin-top: 15px;
}

.login-container a, .signup-container a {
    color: #007BFF;
    text-decoration: none;
    font-weight: bold;
}

.login-container a:hover, .signup-container a:hover {
    text-decoration: underline;
}

.container-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}
